.list-group > li > div{
  float: left;
  text-overflow: ellipsis;
  overflow: hidden;
}
.list-group > li{
  min-height: 74px
}

.list-group > li:first-child{
  min-height: auto;
}
.inputs {
  margin-bottom: 15px;
}
.loader {
  margin-left: calc(50% - 120px);
  border: 32px solid #f3f3f3; /* Light grey */
  border-top: 32px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 240px;
  height: 240px;
  float: none;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
